# Entorno virtual
venv/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Datos satelitales crudos pesados
data/raw/

# Outputs generados
data/outputs/

# Archivos científicos
*.nc
*.h5
*.hdf
*.he5

# Contenedores Apptainer
*.sif

# Archivos temporales
.DS_Store
*.log

# Variables/credenciales
.env
